<div class="container">
    <div class="row mx-auto">
        <%= link_to "back", 'javascript:history.back()', class: "fas fa-chevron-left btn btn-outline-secondary my-3 btn-lg col-3" %>
        <div class="col"></div>
        <%= link_to "投稿する", new_posto_path, class: "far fa-paper-plane btn btn-outline-info my-3 btn-lg col-3" %>

  </div>
</div>

