/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.nav-color{
    background-color: #a0d8ef;
}
.nav-color a{
    text-decoration: none;
    color: gray;
}
.samune{
    width: 80%;
}

.toukou{
    width: 70%;
    text-align: center;
    margin: 1em auto;  
    padding: 1em;
    color: #666666;
    background-color: #f7f7f7;
    border: 2px solid #ccc;
    border-radius: 25px;
}
.post{
    width: 70%;
    color: #666666;
    background-color: #f7f7f7;
    border-radius: 30px;
}
.toukou-item, .nav-item{
    list-style: none;
}
.pagination {
  justify-content: center;
}
.profile{
    background-color: #eaf4fc;
}
.img{
    border-radius: 30%;
}
.heading-img{
    text-align: center;
    vertical-align: middle;
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}
.post-text{
    font-size: 1.2em;
}
a:not([href*="hashtag"],[class*="btn-outline"]){
    text-decoration: none;
    color: gray;
}
a:hover:not([href*="hashtag"],[class*="btn-outline"]){
    color: #0d0015;
}
a:hover[href*="hashtag"]{
    text-decoration: none;
}
.btn:not([class*="btn-outline"]){
    color: white !important;
}